In [2]:
import pandas as pd

In [3]:
# sample dataset
data = {
    'Name': ['Ali','Sara','John',None,'Marry'],
    'Age': [25, None, 30, 22, None],
    'City':['KL', 'Penang', None, 'Johor', 'KL']
}

In [4]:
df=pd.DataFrame(data)
print('Original DataFrame:')
print(df)

Original DataFrame:
    Name   Age    City
0    Ali  25.0      KL
1   Sara   NaN  Penang
2   John  30.0    None
3   None  22.0   Johor
4  Marry   NaN      KL

# Check the missing values Row by Row

In [6]:
for index, row in df.iterrows():
    print(f"Row {index}: Missing = {row.isnull().any()}, Details={row.isnull().to_dict()}")

Row 0: Missing = False, Details={'Name': False, 'Age': False, 'City': False}
Row 1: Missing = True, Details={'Name': False, 'Age': True, 'City': False}
Row 2: Missing = True, Details={'Name': False, 'Age': False, 'City': True}
Row 3: Missing = True, Details={'Name': True, 'Age': False, 'City': False}
Row 4: Missing = True, Details={'Name': False, 'Age': True, 'City': False}

In [7]:
# show only rows with missing data
missing_rows=df[df.isnull().any(axis=1)]
print('Rows with missing data:')
print(missing_rows)

Rows with missing data:
    Name   Age    City
1   Sara   NaN  Penang
2   John  30.0    None
3   None  22.0   Johor
4  Marry   NaN      KL

In [8]:
# Simulate rows that would be dropped uising dopna()
to_drop=df[df.isnull().any(axis=1)]
print(to_drop)

df_cleaned=df.dropna()
print('\nAfter dropna():')
print(df_cleaned)

    Name   Age    City
1   Sara   NaN  Penang
2   John  30.0    None
3   None  22.0   Johor
4  Marry   NaN      KL

After dropna():
  Name   Age City
0  Ali  25.0   KL

In [11]:
df_filled=df.fillna({
    'Name': 'Unknown',
    'Age':df['Age'].mean(),
    'City': 'Not Available'
})

In [9]:
df_cleaned=df.dropna()
print('\nAfter dropna():')
print(df_cleaned)

After dropna():
  Name   Age City
0  Ali  25.0   KL

In [10]:
print('Before fillna():')
print(df)

Before fillna():
    Name   Age    City
0    Ali  25.0      KL
1   Sara   NaN  Penang
2   John  30.0    None
3   None  22.0   Johor
4  Marry   NaN      KL

In [7]:
# Step 5: Drop missing rows (if any)
df_dropped=df.dropna()

In [8]:
# Step 6: Comparing before and after
print('Shape before dropna:', df.shape)
print('Shape after dropna:', df_dropped.shape)

Shape before dropna: (5, 3)
Shape after dropna: (1, 3)

In [10]:
for i in range(len(df)):
    print(f"\nRow {i} Before: {df.iloc[i].to_dict()}")
    print(f"Row {i} After: {df_filled.iloc[i].to_dict()}")

Row 0 Before: {'Name': 'Ali', 'Age': 25.0, 'City': 'KL'}

NameError: name 'df_filled' is not defined