In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [4]:
data= {
    'Hours': [1,2,3,4,5,6,7,8],
    'Marks': [25,35,45,50,55,65,70,80]
}
df=pd.DataFrame(data)
df

   Hours  Marks
0      1     25
1      2     35
2      3     45
3      4     50
4      5     55
5      6     65
6      7     70
7      8     80

In [23]:
# Step 3: Define Features and Target
x=df[['Hours']]
y=df['Marks']

In [24]:
# Step 4: Split Data into Train & Test Sets
x_train, x_test, y_train = train_test_split(x,y, test_size=0.2, random_state=0)
print("Training samples:", len(x_train))
print("Testing samples:", len(x_test))

ValueError: too many values to unpack (expected 3)

In [18]:
# Step 5: Screate the model and # Step 6: Train the Model
model = LinearRegression()
model.fit(x_train, y_train)
print("Model Trained Successfully!")

NameError: name 'x_train' is not defined

In [6]:
y_pred=model.predict(x_test)
print("Actual:",list(y_test.value))
print("Predicted:",list(y_pred))

NameError: name 'x_test' is not defined