In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel('students.xlsx')
print(df)

    Name  Age  Marks
0   John   20     85
1  Alice   22     90
2    Bob   21     78
3   Sara   23     92
4    Sam   25     90
5  Rohit   23     45

In [3]:
marks=df['Marks'].to_numpy()
print('Numpy Array of Marks')
print(marks)

Numpy Array of Marks
[85 90 78 92 90 45]

In [4]:
print('Highest Marks',np.max(marks))

Highest Marks 92

In [5]:
print('Lowest Marks',np.min(marks))

Lowest Marks 45

In [6]:
print('Average Marks',np.mean(marks))

Average Marks 80.0

# .loc: Label Based
# .iloc: index Based

In [10]:
print('original dataframe')
print(df)
print('Location: Label Based')
print(df.loc[2,['Name','Marks']])

original dataframe
    Name  Age  Marks
0   John   20     85
1  Alice   22     90
2    Bob   21     78
3   Sara   23     92
4    Sam   25     90
5  Rohit   23     45
Location: Label Based
Name     Bob
Marks     78
Name: 2, dtype: object

In [12]:
print('original dataframe')
print(df)
print('Location: index Based')
print(df.iloc[2,[1,2]])

original dataframe
    Name  Age  Marks
0   John   20     85
1  Alice   22     90
2    Bob   21     78
3   Sara   23     92
4    Sam   25     90
5  Rohit   23     45
Location: index Based
Age      21
Marks    78
Name: 2, dtype: object

# Axis in Numpy: 
    1. Axis 0: vertical direction: works column wise
    2. Axis 1: horizontal direction: works row-wise

# we have two students marks in 3 subjects
    # [[45,50,49],[30,45,49]]

In [14]:
marks_arr=np.array([[45,50,49],[30,45,49]])
print(marks_arr)

[[45 50 49]
 [30 45 49]]

In [17]:
print('sum down each column',np.sum(marks_arr,axis=0))

sum down each column [75 95 98]

In [20]:
print('sum down each column',np.sum(marks_arr,axis=1))

sum down each column [144 124]

In [21]:
print('Numpy Array of marks')
print(marks)

Numpy Array of marks
[85 90 78 92 90 45]

In [22]:
print(df)

    Name  Age  Marks
0   John   20     85
1  Alice   22     90
2    Bob   21     78
3   Sara   23     92
4    Sam   25     90
5  Rohit   23     45

# Find the student name who got highest marks

In [24]:
topper=df.loc[df['Marks'].idxmax(),'Name']
print(topper)

Sara

In [25]:
lastinclass=df.loc[df['Marks'].idxmin(),'Name']
print(lastinclass)

Rohit

In [26]:
print('Next Example')

Next Example